<div class="breadcrumbs ">
    <div class="container">
        <div class="current-name">Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)</div>
        <ul class="breadcrumb">
            <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_hkstore.root_path, title: '' %></li>
            <li><%= link_to 'Màn hình máy tính', erp_hkstore.product_listing_path, title: '' %></li>
            <li><%= link_to 'Màn Hình HP S240uj 23.8-Inch...', '', title: '' %></li>
        </ul>
    </div>
</div>
<div class="content-main container product-detail  ">
    <div class="row">
        <div id="content" class="product-view col-md-9 col-sm-12 col-xs-12 fluid-sidebar">
            <a href="javascript:void(0)" class=" open-sidebar hidden-lg hidden-md"><i class="fa fa-bars"></i>Mở Chuyên Mục Liên Quan</a>
            <div class="sidebar-overlay "></div>
            <div class="content-product-mainheader clearfix">
                <div class="row">
                    <div class="content-product-left  col-md-5 col-sm-12 col-xs-12">
                        <div class="so-loadeding"></div>
                        <div class="large-image  ">                            
                            <img class="lazyload" data-sizes="auto" src="data:/hoangkhang/images/loading.gif" data-src="/hoangkhang/images/products/product-detail.jpg" data-zoom-image="/hoangkhang/images/products/product-detail.jpg" title="" alt="" />
                        </div>                    
                    </div>
                    <div class="content-product-right col-md-7 col-sm-12 col-xs-12">
                        <div class="title-product">
                            <h1 itemprop="name">Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)</h1>
                        </div>
                        <div class="box-review">
                            <span class="order-num">
                                <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                                Trong kho còn 1 sản phẩm
                            </span>
                        </div>
                        <div class="product_page_price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <span class="price-new">
                                <span>15.000.000đ</span>
                            </span>
                            <!--<span class="price-old">
                                18.000.000đ
                            </span>
                            <span class="label-product label-sale">-23%</span>-->
                        </div>
                        <div class="product-box-desc">
                            <div class="inner-box-desc">
                                <div>
                                    <strong>Thương hiệu: </strong>
                                    <a href="" title="" target="_blank">
                                        <span>HP</span>
                                    </a>
                                </div>
                                <div>
                                    <strong>Thông tin chung: </strong>
                                    S240uj, 36 tháng, Bảo hành chính hãng HP
                                </div>
                                <div>
                                    <strong>Thông số màn hình: </strong>
                                    2K QHD, 2560 x 1440, 23.8", LED backlight, Tấm nền IPS
                                </div>
                                <div>
                                    <strong>Kết nối: </strong>
                                    1 x HDMI, 1 x DisplayPort 1.2, 3 x USB 3.0, 1 x USB Type-B (USB 3.0), 1 x Audio out, 1 x MHL
                                </div>
                                <div>
                                    <strong>Công suất & Vận hành: </strong>
                                    100V ~ 240V, 50/60Hz
                                </div>
                                <div>
                                    <strong>Kích thước & Trọng lượng: </strong>
                                    Ngang 54.06cm x Cao 42.9cm x Sâu 21.34cm, 5.5kg
                                </div>
                            </div>
                        </div>
                        <strong>Số điện thoại: </strong> <a href="">(028) 3984 7690</a><br>
                        <strong>Email kinh doanh: </strong> <a href="">kinhdoanh@hoangkhang.com.vn</a><br>
                        <strong>Skype kinh doanh: </strong> <%= link_to image_tag('/hoangkhang/images/skype.png', alt: ''), '', title: '' %>
                    </div>                    
                </div>
            </div>        
            <div class="content-product-mainbody clearfix row">
                <div class="content-product-content col-sm-12">
                    <div class="content-product-midde clearfix">
                        <div class="producttab ">
                            <div class="tabsslider vertical-tabs  vertical-tabs  col-xs-12">
                                <ul class="nav nav-tabs col-lg-3 col-sm-4">
                                    <li class="active"><a href="#tab-specs" data-toggle="tab">Thông số kỹ thuật</a></li>
                                    <li><a href="#tab-related-image" data-toggle="tab">Hình ảnh sản phẩm</a></li>
                                    <li><a class="thumb-video" href="https://www.youtube.com/watch?v=FV59FkmMFPw"><i class="fa fa-youtube-play fa-lg"></i> Video sản phẩm</a></li>
                                    <li><a href="#tab-datasheet" data-toggle="tab">Tài liệu kỹ thuật</a></li>
                                    <li><a href="#tab-certificate" data-toggle="tab">Chứng nhận đại lý</a></li>
                                </ul>
                                <div class="tab-content  col-lg-9 col-sm-8 col-xs-12">
                                    <div class="tab-pane active" id="tab-specs">
                                        <h3 class="product-property-title">THÔNG TIN CHUNG</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Model:</span>
                                                <span class="propery-des">S240uj</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Màu sắc:</span>
                                                <span class="propery-des">Bạc</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Thương hiệu:</span>
                                                <span class="propery-des">HP</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Thời gian bảo hành:</span>
                                                <span class="propery-des">36 tháng</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Địa điểm bảo hành:</span>
                                                <span class="propery-des">Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Loại bảo hành:</span>
                                                <span class="propery-des">Bảo hành chính hãng HP</span>
                                            </li>
                                        </ul>
                                        <h3 class="product-property-title">THÔNG SỐ MÀN HÌNH</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Chất lượng:</span>
                                                <span class="propery-des">2K QHD</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Độ phân giải:</span>
                                                <span class="propery-des">2560 x 1440</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Kích thước:</span>
                                                <span class="propery-des">23.8"</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Kích thước vùng hình:</span>
                                                <span class="propery-des">Ngang 52.57cm x Cao 29.57cm</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Loại màn hình:</span>
                                                <span class="propery-des">LED backlight, Tấm nền IPS</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Số điểm ảnh:</span>
                                                <span class="propery-des">124ppi</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Hỗ trợ màu:</span>
                                                <span class="propery-des">16.7 triệu màu</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Tỉ lệ:</span>
                                                <span class="propery-des">16:9</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Độ sáng:</span>
                                                <span class="propery-des">300 cd/m²</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Độ tương phản:</span>
                                                <span class="propery-des">1000:1, 5000000:1</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Thời gian đáp ứng:</span>
                                                <span class="propery-des">5.8ms (Gray to Gray)</span>
                                            </li>
                                        </ul>
                                        <h3 class="product-property-title">KẾT NỐI</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Đầu kết nối:</span>
                                                <span class="propery-des">
                                                    <ul>
                                                        <li>1 x HDMI</li>
                                                        <li>1 x DisplayPort 1.2</li>
                                                        <li>3 x USB 3.0</li>
                                                        <li>1 x USB Type-B (USB 3.0)</li>
                                                        <li>1 x Audio out</li>
                                                        <li>1 x MHL</li>
                                                    </ul>
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="product-property-title">THÙNG MÀN HÌNH BAO GỒM</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Sản phẩm bao gồm:</span>
                                                <span class="propery-des">
                                                    <ul>
                                                        <li>Màn hình</li>
                                                        <li>Nguồn AC</li>
                                                        <li>Cáp HDMI</li>
                                                        <li>Cáp USB</li>
                                                        <li>Cáp USB Type-C™ Sang A</li>
                                                        <li>Cáp DisplayPort</li>
                                                        <li>CD hỗ trợ</li>
                                                        <li>Phần mềm HP DisplayAssistant</li>
                                                        <li>Cáp MHL</li>
                                                    </ul>
                                                </span>
                                            </li>
                                        </ul>
                                        <h3 class="product-property-title">CÔNG SUẤT & VẬN HÀNH</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Năng lượng:</span>
                                                <span class="propery-des">100V ~ 240V, 50/60Hz</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Điện năng:</span>
                                                <span class="propery-des">< 148W</span>
                                            </li>
                                        </ul>
                                        <h3 class="product-property-title">KÍCH THƯỚC & VẬN HÀNH</h3>
                                        <ul class="product-property-list util-clearfix">
                                            <li class="property-item">
                                                <span class="propery-title">Kích thước:</span>
                                                <span class="propery-des">Ngang 54.06cm x Cao 42.9cm x Sâu 21.34cm</span>
                                            </li>
                                            <li class="property-item">
                                                <span class="propery-title">Trọng lượng:</span>
                                                <span class="propery-des">5.5kg</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-related-image">
                                        <div class="tab-content content--gallery">
                                            <div class="row">
                                                <% (0..8).each do |related_image| %>
                                                    <div class="col-sm-4">
                                                        <a class="popup-gallery" href="/hoangkhang/images/products/product-detail.jpg" title="">
                                                            <img class="lazyload" data-sizes="auto" src="data:/hoangkhang/images/dot.gif" data-src="/hoangkhang/images/products/product-detail.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-datasheet"></div>
                                    <div class="tab-pane" id="tab-certificate"></div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="content-product-bottom clearfix">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#product-related">Sản Phẩm Liên Quan</a></li>
                            <li><a data-toggle="tab" href="#product-upsell">Phụ Kiện Liên Quan</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="product-related" class="tab-pane fade in active">
                                <div class="clearfix module related-horizontal ">
                                    <h3 class="modtitle hidden"><span>Sản Phẩm Liên Quan</span></h3>
                                    <div class="related-products products-list  contentslider" data-rtl="no" data-autoplay="no" data-pagination="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4" data-items_column1="3" data-items_column2="3" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                        <!-- Products list -->
                                        <% (0..5).each do |product| %>
                                            <div class="product-layout product-grid">
                                                <div class="product-item-container">
                                                    <div class="left-block left-b">
                                                        <div class="product-image-container">
                                                            <a href="<%= erp_hkstore.product_detail_path %>" title="">
                                                                <%= image_tag '/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/products/1-270x270.jpg'}, alt: '', class: 'lazyload img-responsive' %>                                                                
                                                            </a>
                                                        </div>
                                                        <div class="box-label"></div>                                                        
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="rate-history">
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                </div>                                            
                                                            </div>
                                                        </div>
                                                        <h4>
                                                            <%= link_to 'Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)', erp_hkstore.product_detail_path, title: '' %>                                        
                                                        </h4>
                                                        <div class="price">
                                                            <span class="price-new">4,800,000 VNĐ</span>
                                                            <span class="price-old">5,000,000 VNĐ</span>
                                                        </div>
                                                        <div class="button-group cartinfo--static">
                                                            <button class="btn-button" type="button" title="">
                                                                <i class="pe-7s-cart"></i><span>Add to Cart</span>
                                                            </button>
                                                            <button class="btn-button" type="button" title="">
                                                                <i class="pe-7s-like"></i><span>Add to Wish List</span>
                                                            </button>
                                                            <button class="btn-button" type="button" title="">
                                                                <i class="pe-7s-repeat"></i><span>Compare this Product</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div id="product-upsell" class="tab-pane fade">
                                <!-- default Grid  -->
                                <div class="module so-extraslider-ltr upsell-product">
                                    <div class="modcontent">
                                        <div id="so_extra_slider_product_related" class="so-extraslider buttom-type1 preset00-4 preset01-3 preset02-3 preset03-2 preset04-1 button-type1">
                                            <!-- Begin extraslider-inner -->
                                            <div class="extraslider-inner products-list " data-effect="none">
                                                <% (0..5).each do |product| %>
                                                    <div class="item ">
                                                        <div class="product-layout product-grid style1 ">
                                                            <div class="product-item-container">
                                                                <div class="left-block left-b">
                                                                    <div class="product-image-container 	">
                                                                        <a href="<%= erp_hkstore.product_detail_path %>" target="_self" title="">
                                                                            <%= image_tag '/hoangkhang/images/dot.gif', data: {sizes: 'auto', src: '/hoangkhang/images/products/1-270x270.jpg'}, alt: '', class: 'lazyload' %>                                                                            
                                                                        </a>
                                                                    </div>
                                                                    <div class="box-label"></div>
                                                                </div>
                                                                <div class="right-block">
                                                                    <div class="rating">
                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    </div>
                                                                    <h4>
                                                                        <%= link_to 'Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)', erp_hkstore.product_detail_path, title: '' %>
                                                                    </h4>
                                                                    <div class="price">
                                                                        <span class="price-new">4,800,000 VNĐ</span>
                                                                        <span class="price-old">5,000,000 VNĐ</span>
                                                                    </div>
                                                                    <div class="button-group cartinfo--static">
                                                                        <button class="btn-button" type="button" title="">
                                                                            <i class="pe-7s-cart"></i><span>Add to Cart</span>
                                                                        </button>
                                                                        <button class="btn-button" type="button" title="">
                                                                            <i class="pe-7s-like"></i><span>Add to Wish List</span>
                                                                        </button>
                                                                        <button class="btn-button" type="button" title="">
                                                                            <i class="pe-7s-repeat"></i><span>Compare this Product</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End item-wrap-inner -->
                                                        </div>
                                                        <!-- End item-wrap -->
                                                    </div>
                                                <% end %>
                                            </div>
                                            <!--End extraslider-inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render 'erp/hkstore/frontend/modules/tools' %>
        </div>        
        <aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas product-view">
            <span id="close-sidebar" class="fa fa-times"></span>
            <div class="module category-style">
                <h3 class="modtitle"><span>Chuyên Mục</span></h3>
                <div class="mod-content box-category">
                    <ul class="accordion">
                        <li class="panel">
                            <a href="">Máy Tính Để Bàn</a>
                        </li>
                        <li class="panel">
                            <a href="">Máy Tính Xách Tay</a>
                        </li>
                        <li class="panel">
                            <a href="" class="active">Màn Hình Máy Tính</a>
                            <span class="head">
                                <a class="pull-right accordion-toggle  show" data-toggle="collapse" data-parent="#accordion-category-01" href="#category2 " aria-expanded="true"></a>
                            </span>
                            <div id="category2" class="panel-collapse collapse" style="clear: both; height: 0px;" aria-expanded="false">
                                <ul>
                                    <li>
                                        <a href="">Màn Hình HP</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Dell</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Acer</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Asus</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Lenovo</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="panel">
                            <a href="">Macbook Collection </a>
                            <span class="head">
                                <a class="pull-right accordion-toggle  show" data-toggle="collapse" data-parent="#accordion-category-02" href="#category2 " aria-expanded="true"></a>
                            </span>
                            <div id="category2" class="panel-collapse collapse" style="clear: both; height: 0px;" aria-expanded="false">
                                <ul>
                                    <li>
                                        <a href="">Màn Hình HP</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Dell</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Acer</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Asus</a>
                                    </li>
                                    <li>
                                        <a href="">Màn Hình Lenovo</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="panel">
                            <a href="">Máy Tính Để Bàn</a>
                        </li>
                        <li class="panel">
                            <a href="">Máy Tính Xách Tay</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="module banner-left hidden-xs ">
                <h2></h2>
                <div class="banner-sidebar banners">
                    <div>
                        <%= link_to image_tag('/hoangkhang/images/banners/banner-sidebar.jpg', alt: ''), '', title: '' %>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>