<div class="header-bottom-inner">
    <div class="responsive megamenu-style-dev">
        <nav class="navbar-default">
            <div class=" container-megamenu   horizontal ">
                <div class="navbar-header">
                    <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="megamenu-wrapper">
                    <span id="remove-megamenu" class="fa fa-times"></span>
                    <div class="megamenu-pattern">
                        <div class="container">
                            <ul class="megamenu" data-transition="fade" data-animationtime="500">
                                <% (0..4).each do |menu| %>
                                    <li class="full-width menu-features with-sub-menu hover">
                                        <p class='close-menu'></p>
                                        <%= link_to '<strong>Máy Vi Tính</strong><b class="caret"></b>'.html_safe,
                                                    erp_hkstore.product_listing_path, title: '', class: 'clearfix' %>
                                        <div class="sub-menu">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="html ">
                                                            <ul class="shoppage list-inline row">
                                                                <li class="col-sm-12 col-md-3">
                                                                    <%= link_to 'Máy Tính Để Bàn (PC)', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                    <ul>
                                                                        <li>
                                                                            <%= link_to 'Máy Tính Đồng Bộ (All In One)', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo Hãng'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn HP', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn Dell', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn Lenovo', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn Apple', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn Acer', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Máy Tính Để Bàn Asus', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo CPU'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i7', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i5', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i3', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Pentium', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Celeron', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo RAM'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to '32GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '16GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '8GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '4GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '2GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <%= link_to 'Máy Chủ (Server)', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                    <ul>
                                                                        <li>
                                                                            <%= link_to 'Server HP', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Server Dell', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Server Lenovo', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                    </ul>
                                                                    <%= link_to 'Máy Tính Trạm (Workstation)', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                    <ul>
                                                                        <li>
                                                                            <%= link_to 'Máy Tính Trạm HP', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Máy Tính Trạm Dell', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                    </ul>
                                                                    <%= link_to 'Thin Client', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                </li>
                                                                <li class="col-sm-12 col-md-3">
                                                                    <%= link_to 'Máy Tính Xách Tay (Laptop)', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                    <ul>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo Hãng'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Laptop HP', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Dell', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Asus', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Acer', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Lenovo', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop MSI', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Macbook', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Fujitsu', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop Toshiba', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Laptop LG', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>                                                                    
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo CPU'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i9', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i7', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i5', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Core i3', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Pentium', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'CPU Celeron', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Lựa Chọn Theo RAM'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to '32GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '16GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '8GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '4GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to '2GB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <%= link_to 'Máy Tính Bảng (Tablet)', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                    <ul>
                                                                        <li>
                                                                            <%= link_to 'Apple iPad', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Microsoft Surface', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Tablet Lenovo', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Tablet SamSung', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                    </ul>
                                                                </li>                                                            
                                                                <li class="col-sm-12 col-md-3">
                                                                    <%= link_to 'Phụ Kiện Máy Tính', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                     <ul>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Tấm Dán Màn Hình 3M <span class="menu-label menu-label-new">Mới</span>'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Tấm Dán Bộ Lọc Đen', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Tấm Dán Bộ Lọc Vàng', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Tấm Dán Có Khung', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Tấm Dán Chống Chói', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Phần Mềm'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Phần Mềm Diệt Virus', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Phần Mềm Hệ Điều Hành', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Phần Mềm Ứng Dụng', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Bộ Lưu Điện - UPS Offline'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'UPS Offline APC', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'UPS Offline CyberPower', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'UPS Offline Santak', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'UPS Offline ZLPower', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'UPS Offline Vertiv', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Bàn Phím - Chuột'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Chuột Không Dây', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Chuột Có Dây', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Bàn Phím Không Dây', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Bàn Phím Có Dây', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Bộ Bàn Phím Chuột', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Tai Nghe', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Đế Tản Nhiệt', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Thiết Bị Lưu Trữ'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Thẻ Nhớ', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'USB', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Ổ Cứng Gắn Ngoài', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Ổ Cứng Mạng', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Tản nhiệt', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="col-sm-12 col-md-3">
                                                                    <%= link_to 'Linh Kiện Máy Tính', erp_hkstore.product_listing_path, title: '', class: 'title-shoppage' %>
                                                                     <ul>
                                                                        <li class="submenu-shop">
                                                                            <b class="fa fa-angle-right"></b>
                                                                            <%= link_to 'Ổ Cứng Máy Tính'.html_safe,
                                                                                        'javascript:void(0)', title: '', class: 'menuitem-shop' %>
                                                                            <ul>
                                                                                <li>
                                                                                    <%= link_to 'Ổ Cứng SSD', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Ổ Cứng HDD 2.5-Inch', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                                <li>
                                                                                    <%= link_to 'Ổ Cứng HDD 3.5-Inch', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Bộ Xử Lý - CPU', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Bộ Nhớ Trong - RAM', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Bo Mạch Chủ - Mainboard', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Card Đồ Họa - VGA', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Nguồn Máy Tính - PSU', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Thùng Máy - Case', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                        <li>
                                                                            <%= link_to 'Tản nhiệt', erp_hkstore.product_listing_path, title: '', class: 'menuitem-shop', target: '_top' %>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <%= link_to image_tag('/hoangkhang/images/menu/menu-guide.jpg', alt: ''),
                                                                                '', title: '' %>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <%= link_to image_tag('/hoangkhang/images/menu/menu-guide.jpg', alt: ''),
                                                                                '', title: '' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                <% end %>
                                <li class=" item-style1 with-sub-menu hover">
                                    <p class='close-menu'></p>
                                        <%= link_to '<strong>Thiết Bị Văn Phòng</strong><b class="caret"></b>'.html_safe,
                                                    erp_hkstore.product_listing_path, title: '', class: 'clearfix' %>
                                    <div class="sub-menu">
                                        <div class="content">
                                            <div class="row">
                                                <% (0..3).each do |menu_image| %>
                                                    <div class="col-sm-3">
                                                        <div class="link ">
                                                            <%= image_tag '/hoangkhang/images/loading.svg',
                                                                            data: {size: 'auto', src: '/hoangkhang/images/menu/img-main-menu.png'},
                                                                            alt: '', class: 'lazyload img-full-width' %>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="border"></div>
                                            <div class="row">
                                                <% (0..3).each do |menu| %>
                                                    <div class="col-sm-3">
                                                        <ul class="subcategory subcate-col">
                                                            <li>
                                                                <%= link_to 'Máy In', erp_hkstore.product_listing_path, title: '', class: 'title-submenu subcate-col' %>                                                            
                                                                <div class="row">
                                                                    <div class="col-sm-12 static-menu">
                                                                        <div class="menu">
                                                                            <ul>
                                                                                <% (0..6).each do |sub_menu| %>
                                                                                    <li>
                                                                                        <%= link_to 'Máy In Laser Mono', erp_hkstore.product_listing_path, title: '', class: 'main-menu', target: '_top' %>
                                                                                    </li>
                                                                                <% end %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class=" item-style1 with-sub-menu hover">
                                    <p class='close-menu'></p>
                                        <%= link_to '<strong>Thiết Bị Mạng</strong><b class="caret"></b>'.html_safe,
                                                    erp_hkstore.product_listing_path, title: '', class: 'clearfix' %>
                                    <div class="sub-menu">
                                        <div class="content">
                                            <div class="row">
                                                <% (0..3).each do |menu_image| %>
                                                    <div class="col-sm-3">
                                                        <div class="link ">
                                                            <%= image_tag '/hoangkhang/images/loading.svg',
                                                                            data: {size: 'auto', src: '/hoangkhang/images/menu/img-main-menu.png'},
                                                                            alt: '', class: 'lazyload img-full-width' %>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="border"></div>
                                            <div class="row">
                                                <% (0..3).each do |menu| %>
                                                    <div class="col-sm-3">
                                                        <ul class="subcategory subcate-col">
                                                            <li>
                                                                <%= link_to 'Máy In', erp_hkstore.product_listing_path, title: '', class: 'title-submenu subcate-col' %>                                                            
                                                                <div class="row">
                                                                    <div class="col-sm-12 static-menu">
                                                                        <div class="menu">
                                                                            <ul>
                                                                                <% (0..6).each do |sub_menu| %>
                                                                                    <li>
                                                                                        <%= link_to 'Máy In Laser Mono', erp_hkstore.product_listing_path, title: '', class: 'main-menu', target: '_top' %>
                                                                                    </li>
                                                                                <% end %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="blog-item with-sub-menu hover">
                                    <p class='close-menu'></p>
                                    <a href="<%= erp_hkstore.service_listing_path %>" class="clearfix">
                                        <strong>Dịch Vụ Khách Hàng</strong>                                
                                        <b class='caret'></b>
                                    </a>                                
                                    <div class="sub-menu">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="html ">
                                                        <div class="row feature-blog">
                                                            <% (0..5).each do |service| %>
                                                                <div class="col-md-2 col-sm-12 menu-services">
                                                                    <a href="" class="menu--item">
                                                                        <%= image_tag '/hoangkhang/images/banners/customer-services.png', alt: '' %>                                                                    
                                                                        <span>Bảo trì máy tính</span>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-2 col-sm-12 menu-services">
                                                                    <a href="" class="menu--item">
                                                                        <%= image_tag '/hoangkhang/images/banners/customer-services.png', alt: '' %>                                                                    
                                                                        <span>Thi công máy chiếu</span>
                                                                    </a>
                                                                </div>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>