<div class="container">
    <div class="wrap">
        <div class="row">
            <div class="vertical_menu col-xl-2 col-lg-3 col-12">
                <div id="shopify-section-ss-vertical-menu" class="shopify-section">
                    <div class="widget-verticalmenu">
                        <div class="vertical-content">
                            <div class="navbar-vertical">
                                <button style="background: #ff5c00" type="button" id="show-verticalmenu" class="navbar-toggles">
                                    <i class="fa fa-bars"></i>
                                    <span class="title-nav">Danh Mục Sản Phẩm</span>
                                </button>
                            </div>
                            <div class="vertical-wrapper">
                                <div class="menu-remove d-block d-lg-none">
                                    <div class="close-vertical">
                                        <i class="material-icons">&#xE14C;</i>
                                    </div>
                                </div>
                                <ul class="vertical-group">
                                    <% (0..8).each do |menu| %>
                                        <li class="vertical-item level1 toggle-menu vertical_drop mega_parent">
                                            <a class="menu-link" href="<%= erp_hkstore.category_path %>">
                                                <span class="icon_items"><i class="fa fa-laptop"></i></span>
                                                <span class="menu-title">Máy Vi Tính</span>
                                                <span class="caret">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <div class="vertical-drop drop-mega drop-lv1 sub-menu " style="width: 700px;">
                                                <div class="row">
                                                    <div class="ss_megamenu_col col_menu col-lg-12">
                                                        <div class="row">
                                                            <% (0..2).each do |sub_menu| %>
                                                                <div class="ss_megamenu_col col-lg-4">
                                                                    <ul class="content-links">
                                                                        <li class="ss_megamenu_lv2 menuTitle">
                                                                            <%= link_to 'Máy Tính Xách Tay', erp_hkstore.category_path, title: '' %>
                                                                        </li>
                                                                        <% (0..5).each do |item| %>
                                                                            <li class="ss_megamenu_lv3 ">
                                                                                <%= link_to 'Laptop Asus', erp_hkstore.category_path, title: '' %>
                                                                            </li>
                                                                        <% end %>
                                                                    </ul>
                                                                </div>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                    <div class="ss_megamenu_col banner_first col-lg-12 space_vetical">
                                                        <div class="first vertical-banner">
                                                            <a href="">
                                                                <img class="img-responsive lazyload"
                                                                     data-sizes="auto"
                                                                     src="/hkstore/img/files/bn-ver2.png"
                                                                     alt=""
                                                                     data-src="/hkstore/img/files/bn-ver2.png" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% end %>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-screen d-block d-lg-none">&nbsp;</div>
                </div>
            </div>
            <div class="horizontal_menu col-xl-10 col-lg-9">
                <div id="shopify-section-ss-mainmenu" class="shopify-section">
                    <div class="main-megamenu d-none d-lg-block">
                        <nav class="main-wrap">
                            <ul class="main-navigation nav hidden-tablet hidden-sm hidden-xs">
                                <li class="ss_menu_lv1 menu_item active">
                                    <%= link_to '<span class="ss_megamenu_title">Về Hoang Khang Incotech</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="ss_menu_lv1 menu_item menu_item_drop arrow">
                                    <a href="" title="">
                                        <span class="ss_megamenu_icon mega-new">Mới</span>
                                        <span class="ss_megamenu_title">Dịch Vụ</span>
                                    </a>
                                    <div class="ss_megamenu_dropdown megamenu_dropdown width-custom left " style="width:840px; margin-left: 0 !important;">
                                        <div class="row">
                                            <div class="ss_megamenu_col col_menu col-sm-12">
                                                <div class="ss_inner">
                                                    <div class="row">
                                                        <div class="ss_megamenu_col col-md-4">
                                                            <ul class="menulink">
                                                                <li class="ss_megamenu_lv2 megatitle">
                                                                    <%= link_to 'Dịch Vụ Bán Hàng', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thiết Bị Tin Học', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thiết Bị Văn Phòng', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thiết Bị Kỹ Thuật Số', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thiết Bị Mạng', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thiết Bị Gia Dụng', '', title: '' %>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="ss_megamenu_col col-md-4">
                                                            <ul class="menulink">
                                                                <li class="ss_megamenu_lv2 megatitle">
                                                                    <%= link_to 'Sửa Chữa - Bảo Trì', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Sửa Chữa Máy Vi Tính', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Sửa Chữa Máy In', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                   <%= link_to 'Dịch Vụ Nạp Mực', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Dịch Vụ Bảo Trì', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Nâng Cấp Bảo Hành', '', title: '' %>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="ss_megamenu_col col-md-4">
                                                            <ul class="menulink">
                                                                <li class="ss_megamenu_lv2 megatitle">
                                                                    <%= link_to 'Dịch Vụ Thi Công', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Thi Công Mạng', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Hệ Thống Tổng Đài', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Hệ Thống An Ninh', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Hệ Thống Phòng Họp', '', title: '' %>
                                                                </li>
                                                                <li class="ss_megamenu_lv3 ">
                                                                    <%= link_to 'Di Dời Trang Thiết Bị', '', title: '' %>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </li>                                
                                <li class="ss_menu_lv1 menu_item">
                                    <%= link_to '<span class="ss_megamenu_title">Tin Tức</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="ss_menu_lv1 menu_item">
                                    <%= link_to '<span class="ss_megamenu_title">Liên Hệ</span>'.html_safe, '', title: '' %>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navigation-mobile mobile-menu d-block d-lg-none">
                        <div class="logo-nav">
                            <a href="<%= erp_hkstore.root_path %>" class="site-header-logo-image">
                                <img src="/hkstore/img/logo-hkstore-160x.png"
                                  srcset="/hkstore/img/logo-hkstore-160x.png"
                                  alt="">
                            </a>
                            <div class="menu-remove">
                                <div class="close-megamenu"><i class="material-icons">clear</i></div>
                            </div>
                        </div>
                        <ul class="site_nav_mobile active_mobile">
                            <li class="menu-item toggle-menu active ">
                                <%= link_to 'Trang Chủ', erp_hkstore.root_path, title: '', class: 'ss_megamenu_title' %>                               
                            </li>
                            <li class="menu-item toggle-menu ">
                                <a href="" title="" class="ss_megamenu_title">
                                    Features
                                    <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                                <div class="sub-menu">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mega-page">
                                                <div class="feature-collection">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin: 10px 0px 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/collections/technology/?preview_theme_id=14073888886" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/listing-left_large.png" data-src="/hkstore/img/files/listing-left_large.png" alt="">
                          <p style="margin: 10px 0 20px;">Category Left</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin: 10px 0px 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/collections/technology/?preview_theme_id=32897859702" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/listing-right_large.png" data-src="/hkstore/img/files/listing-right_large.png" alt="">
                          <p style="margin: 10px 0 20px;">Category Right</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin: 10px 0px 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/collections/technology/?preview_theme_id=33933066358" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/listing-without_large.png" data-src="/hkstore/img/files/listing-without_large.png" alt="">
                          <p style="margin: 10px 0 20px;">Category Full</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin: 10px 0px 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/collections/technology/?preview_theme_id=35644833910" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/blog-col4_large.png" data-src="/hkstore/img/files/blog-col4_large.png" alt="">
                          <p style="margin: 10px 0 20px;">Category Filter</p>
                        </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin-bottom: 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/products/aoccaecat-pariatur/?preview_theme_id=14073888886" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/detail1_large.png" data-src="/hkstore/img/files/detail1_large.png" alt="">
                          <p style="margin: 10px 0;">Product Left</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin-bottom: 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/products/aoccaecat-pariatur/?preview_theme_id=32897859702" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/detail2_large.png" data-src="/hkstore/img/files/detail2_large.png" alt="">
                          <p style="margin: 10px 0;">Product Right</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin-bottom: 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/products/aoccaecat-pariatur/?preview_theme_id=33933066358" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/detail3_large.png" data-src="/hkstore/img/files/detail3_large.png" alt="">
                          <p style="margin: 10px 0;">Product Full</p>
                        </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12" style="text-align: center; margin-bottom: 5px; min-height: 120px;">
                                                            <a href="https://ss-super-market.myshopify.com/products/bolore-ieserunt/?preview_theme_id=35644833910" title="" style="display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;">
                          <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/files/privew-4_large.jpg" data-src="/hkstore/img/files/privew-4_large.jpg" alt="">
                          <p style="margin: 10px 0;">Product Scroll</p>
                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item toggle-menu ">
                                <a href="/collections" title="" class="ss_megamenu_title">
          Collections
          <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
                                <div class="sub-menu">
                                    <div class="row">
                                        <div class="col-sm-9 col-12 spaceMega">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a class="megatitle" href="/collections/technology" title="">
                    Technology<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/web-cameras" title="">Web Cameras</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/sofa-chairs" title="">Sofa & Chairs</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Furniture & Decor</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Sine engain</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Smartphone</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="#" title="">
                    Iwatch & Accessories<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/lamp-lighting" title="">Lamp & Lighting</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/health-beauty" title="">Health & Beauty</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Punge nenune</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Consectetur</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Qunge genga</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="#" title="">
                    Furnitures & Decor<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/apple" title="">Apple</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/technology" title="">Technology</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Appliances</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Labore et</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Reprehenderit </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="#" title="">
                    Tops & Sets<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/bags-shoes" title="">Bags & Shoes</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/lamp-lighting" title="">Lamp & Lighting</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Bathrooms</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Furniture & Decors</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Living room</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="#" title="">
                    Outwear & Jackets<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/electronics" title="">Electronics</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/fashion-accessories" title="">Fashion & Accessories</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Bathrooms</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Furniture</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Bedroom</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="#" title="">
                    Hot Categories<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/gifts-toys" title="">Gifts & Toys</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/bags-shoes" title="">Bags & Shoes</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Scanners</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Sony</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Dell</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ss_megamenu_col col-sm-3 col-12 spaceMega">
                                            <div class="ss_product_mega">
                                                <div class="megatitle"><span>Featured Product</span></div>
                                                <div class="ss_product_content products-listing grid">
                                                    <div class="ss_inner ss-owl">
                                                        <div class="owl-carousel" data-nav="false" data-dots="true" data-margin="0" data-autoplay="true" data-autospeed="3333" data-speed="3333" data-column1="1" data-column2="1" data-column3="1" data-column4="1" data-column5="1">
                                                            <div class="item product-layout">
                                                                <div class="product-item" data-id="product-1305490063478">
                                                                    <div class="product-item-container grid-view-item   ">
                                                                        <div class="left-block">
                                                                            <div class="product-image-container product-image">
                                                                                <a class="grid-view-item__link image-ajax" href="/products/aliquip-sintfugia">
                                  <img class="img-responsive s-img lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" data-src="/hkstore/img/products/1.png" alt="Short ribs shank pork" />
                                  </a>
                                                                                <div class="box-countdown">
                                                                                </div>
                                                                                <ul class="product-card__left product-card__gallery">
                                                                                    <li class="item-img thumb-active" data-src="/hkstore/img/products/1.png">
                                                                                        <img class="lazyload" data-sizes="auto" src="/hkstore/img/products/1_40x.png" data-src="/hkstore/img/products/1_40x.png" alt="Short ribs shank pork">
                                                                                    </li>
                                                                                    <li class="item-img" data-src="/hkstore/img/products/5.png">
                                                                                        <img class="lazyload" data-sizes="auto" src="/hkstore/img/products/5_40x.png" data-src="/hkstore/img/products/5_40x.png" alt="Short ribs shank pork">
                                                                                    </li>
                                                                                    <li class="item-img" data-src="/hkstore/img/products/9.png">
                                                                                        <img class="lazyload" data-sizes="auto" src="/hkstore/img/products/9_40x.png" data-src="/hkstore/img/products/9_40x.png" alt="Short ribs shank pork">
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <span class="label-product label-sale"><span class="d-none">Sale</span> -18%
                                                                            </span>
                                                                        </div>
                                                                        <div class="right-block">
                                                                            <div class="button-link">
                                                                                <div class="btn-button add-to-cart action  ">
                                                                                    <form action="/cart/add" method="post" class="variants" data-id="AddToCartForm-1305490063478" enctype="multipart/form-data">
                                                                                        <input type="hidden" name="id" value="12145718493302" />
                                                                                        <a class="btn-addToCart grl btn_df" href="javascript:void(0)" title="Add to cart">Add to cart</a>
                                                                                    </form>
                                                                                </div>
                                                                                <div class="quickview-button">
                                                                                    <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" data-variants_id="12145718493302" data-toggle="modal" data-target="#myModal" data-id="aliquip-sintfugia" title="Quick View"><i class="fa fa-search"></i></a>
                                                                                </div>
                                                                                <div class="product-addto-links">
                                                                                    <a class="btn_df btnProduct" href="/account/login" title="Wishlist">
                                    <i class="fa fa-heart"></i>
                                    <span class="hidden-xs hidden-sm hidden-md">Wishlist</span>
                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="caption">
                                                                                <div class="custom-reviews">
                                                                                    <span class="shopify-product-reviews-badge" data-id="1305490063478"></span>
                                                                                </div>
                                                                                <h4 class="title-product text-truncate"><a class="product-name" href="/products/aliquip-sintfugia">Short ribs shank pork</a></h4>
                                                                                <div class="price">
                                                                                    <!-- snippet/product-price.liquid -->
                                                                                    <span class="visually-hidden">Regular price</span>
                                                                                    <span class="price-new"><span class='money'>$126.00</span></span>
                                                                                    <span class="price-old"> <span class='money'>$154.00</span> </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item toggle-menu ">
                                <a href="/collections/frontpage" title="" class="ss_megamenu_title">
          Shop
          <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
                                <div class="sub-menu">
                                    <div class="row">
                                        <div class="col-sm-12 col-12 spaceMega">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a class="megatitle" href="/collections/electronics" title="">
                    Electronics<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/apple" title="">Apple</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/fashion-accessories" title="">Fashion & Accessories</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Dell</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Scanners</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Toshiba</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="/collections/health-beauty" title="">
                    Health & Beauty<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/web-cameras" title="">Web Cameras</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Diam sit</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Monitors</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Labore et</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Scanners</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="/collections/iwatch-accessories" title="">
                    Iwatch & Accessories<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/lamp-lighting" title="">Lamp & Lighting</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="/collections/health-beauty" title="">Health & Beauty</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Sofa & Chairs</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Furniture & Decors</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Sound & Life</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    <a class="megatitle" href="/collections/technology" title="">
                    Technology<span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item ">
                                                            <a href="/collections/bags-shoes" title="">Bags & Shoes</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Smartphone</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Appliances</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Fashion</a>
                                                        </li>
                                                        <li class="menu-item ">
                                                            <a href="#" title="">Furniture & Decor</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col_banner col-sm-4 col-12 spaceMega">
                                            <div class="first">
                                                <a href="#">
                  <img class="img-responsive" alt="ss-super-market" src="/hkstore/img/files/mega-bn1.png" />
                  </a>
                                            </div>
                                        </div>
                                        <div class="col_banner col-sm-4 col-12 spaceMega">
                                            <div class="first">
                                                <a href="#">
                  <img class="img-responsive" alt="ss-super-market" src="/hkstore/img/files/mega-bn2.png" />
                  </a>
                                            </div>
                                        </div>
                                        <div class="col_banner col-sm-4 col-12 spaceMega">
                                            <div class="first">
                                                <a href="#">
                  <img class="img-responsive" alt="ss-super-market" src="/hkstore/img/files/mega-bn3.png" />
                  </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item toggle-menu  dropdown">
                                <a class="ss_megamenu_title ss_megamenu_head" href="#" title="">
          Page
          <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
                                <ul class="sub-menu">
                                    <li class="menu_item toggle-menu">
                                        <a href="/pages/about-us" class="menu-title" title="">About Us <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="sub-menu">
                                            <li class="menu_item">
                                                <a class="menu-title" href="#" title="">Demo 1</a>
                                            </li>
                                            <li class="menu_item">
                                                <a class="menu-title" href="#" title="">Demo 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/contact-us" title="">Contact Us</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/deals" title="">Deals</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/faqs" title="">Faqs</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/support-24-7-page" title="">Support 24/7 Page</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/deals" title="">Page Deals</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/pages/photo-gallery" title="">Photo gallery</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/collections/under-5" title="">Under $5</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/collections/latest-products" title="">Latest products</a>
                                    </li>
                                    <li class="menu_item ">
                                        <a class="menu-title" href="/collections/best-sellers" title="">Best sellers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item ">
                                <a href="/blogs/news" title="">
                                    <span class="ss_megamenu_title">Blog</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-screen d-block d-lg-none">&nbsp;</div>
                </div>
                    
                <div class="minilink-header d-none d-xl-block">
                    <div class="pull-right">
                        <ul id="menu-special-offer" class="menu">
                            <li class="menu-special-offer">
                                <a class="item-link" href="">
                                    <span class="menu-title">
                                        Gửi Yêu Cầu Báo Giá
                                    </span>
                                </a>
                            </li>
                            <li class="menu-purchase-theme">
                                <a class="item-link" href="<%= erp_hkstore.capacity_profile_path %>">
                                    <span class="menu-title">
                                        Hồ Sơ Năng Lực
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>