<div class="navbar-logo d-flex">
    <div class="logo">
        <%= link_to image_tag('/hoangkhang/images/logo-hoangkhang.svg', data: {sizes: 'auto', src: '/hoangkhang/images/logo-hoangkhang.svg'}, alt: '', class: 'lazyload'),
                    erp_hkstore.root_path, title: '' %>
    </div>
</div>
<div class="search-w d-flex">
    <div class="search-header-w">
        <div class="icon-search hidden-lg hidden-md">
            <i class="fa fa-search"></i>
        </div>
        <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
            <form method="GET" action="">
                <div id="search0" class="search input-group form-group">
                    <div class="select_category filter_type icon-select hidden-sm hidden-xs">
                        <select class="no-border" name="category_id">
                            <option value="0">Tất cả chuyên mục</option>
                            <option value="1">Máy vi tính</option>
                            <option value="2">Màn hình máy tính</option>
                            <option value="3">Linh kiện máy tính</option>
                            <option value="4">Phụ kiện máy tính</option>
                            <option value="5">Sản phẩm văn phòng</option>
                            <option value="6">Thiết bị mạng</option>
                            <option value="7">Thiết bị an ninh</option>
                            <option value="8">Thiết bị gia dụng</option>
                        </select>
                    </div>
                    <input class="autosearch-input form-control" type="search" value="" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm..." name="search">
                    <button type="submit" class="button-search btn btn-default btn-lg" name="submit_search">
                        <i class="fa fa-search"></i><span>Tìm kiếm</span>
                    </button>
                </div>
            </form>
        </div>                
    </div>
</div>
<div class="header-top-right d-flex">
    <ul class="top-link list-inline">
        <li class="account" id="my_account">
            <a href="" class="btn-xs dropdown-toggle" title="" data-toggle="dropdown">
                <i class="ico-main pe-7s-users"></i>
                <span class="text-item">Hướng Dẫn</span>
            </a>
            <ul class="dropdown-menu ">                        
                <li><%= link_to 'Câu Hỏi Thường Gặp', '', title: '' %></li>
                <li><%= link_to 'Hướng Dẫn Mua Hàng', '', title: '' %></li>
            </ul>
        </li>
        <li class="wishlist hidden-md hidden-sm hidden-xs">
            <a href="" id="wishlist-total" class="top-link-wishlist" title="Sản phẩm yêu thích <b>1</b>">
                <i class="ico-main pe-7s-like"></i>
                <span class="text-item">
                    Sản Phẩm Yêu Thích <b>1</b>
                </span>
            </a>
        </li>
        <li class="shopping_cart">
            <div id="cart" class="btn-shopping-cart">
                <a class="btn-group top_cart dropdown-toggle" data-toggle="dropdown">
                    <div class="shopcart">
                        <span class="icon-c">
                            <i class="pe-7s-cart"></i>
                        </span>
                        <div class="shopcart-inner">
                            <p class="text-shopping-cart">Giỏ Hàng Của Tôi</p>
                            <span class="total-shopping-cart cart-total-full">
                                <span class="items_cart">3</span>
                                <span class="items_cart2"> item (s):</span>
                                <span class="items_carts"> $159.00</span>
                            </span>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu pull-right shoppingcart-box">
                    <li class="content-item">
                        <table class="table table-striped">
                            <% (0..2).each do |product| %>
                                <tr>
                                    <td class="text-center size-img-cart">
                                        <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/products/cart/product-47x47.jpg'}, alt: '', class: 'img-thumbnail lazyload'),
                                                    '', title: '' %>
                                    </td>
                                    <td class="text-left">
                                        <%= link_to 'Lastrami deserunt', '', title: '' %>
                                    </td>
                                    <td class="text-right">x1</td>
                                    <td class="text-right">$59.00</td>
                                    <td class="text-center">
                                        <button type="button" title="Remove" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </li>
                    <li>
                        <div class="checkout clearfix">
                            <%= link_to 'Xem giỏ hàng', '', title: '', class: 'btn btn-view-cart inverse' %>
                            <%= link_to 'Đặt hàng', '', title: '', class: 'btn btn-checkout pull-right' %>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>