<div class="footer-main">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-sm-12 col-12 ft-1">
                    <div class="collapsed-block footer-block footer-about">
                        <h3 class="footer-block-title hidden-lg">
                            Thông Tin Công Ty
                            <span class="expander">
                                <i class="fa fa-plus"></i>
                            </span>
                        </h3>
                        <ul class="footer-block-content">
                            <li class="logo">
                                <a href="" title="">
                                    <img class="img-payment lazyload logo-footer" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="" data-src="/hkstore/img/logo-hkstore.svg" />
                                </a>
                            </li>
                            <li class="address">
                                <span>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang (Hoang Khang Incotech)</span>
                            </li>
                            <li class="address">
                                <span>188 Đường số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12 ft-1">
                    <div class="collapsed-block footer-block footer-about">
                        <h3 class="footer-block-title hidden-lg">
                            Thông Tin Công Ty
                            <span class="expander">
                                <i class="fa fa-plus"></i>
                            </span>
                        </h3>
                        <ul class="footer-block-content">
                            <li class="email">
                                <span><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %></span>
                            </li>
                            <li class="phone">
                                <span><%= link_to '(028) 2212 9454', 'tel:(028) 2212 9454', title: '' %></span>
                            </li>
                            <li class="time">
                                <span><strong>Thứ 2 ~ 7: </strong>8:00 - 17:00</span>
                            </li>
                            <li class="time">
                                <span><strong>Chủ nhật: </strong>Không làm việc</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12 ft-2">
                    <div class="collapsed-block footer-block">
                        <h3 class="footer-block-title">
                            Chăm Sóc Khách Hàng
                            <span class="expander">
                                <i class="fa fa-plus"></i>
                            </span>
                        </h3>
                        <ul class="footer-block-content">
                            <li><%= link_to 'Hướng dẫn mua hàng', '', title: '' %></li>
                            <li><%= link_to 'Hướng dẫn thanh toán', '', title: '' %></li>
                            <li><%= link_to 'Chính sách vận chuyển, giao nhận', '', title: '' %></li>
                            <li><%= link_to 'Chính sách bảo hành', '', title: '' %></li>
                            <li><%= link_to 'Chính sách đổi trả, hoàn tiền', '', title: '' %></li>
                            <li><%= link_to 'Quy định bảo mật thông tin', '', title: '' %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12 ft-2">
                    <div class="collapsed-block footer-block">
                        <h3 class="footer-block-title">
                            Thông Tin Website
                            <span class="expander">
                                <i class="fa fa-plus"></i>
                            </span>
                        </h3>
                        <ul class="footer-block-content">
                            <li><%= link_to 'Về Hoàng Khang Incotech', erp_hkstore.about_us_path, title: 'Về Hoàng Khang Incotech' %></li>
                            <li><%= link_to 'Góp ý & Liên hệ', erp_hkstore.contact_us_path, title: 'Góp ý & Liên hệ' %></li>
                            <li><%= link_to 'Tin tức công nghệ', '', title: '' %></li>
                            <li><%= link_to 'Quy chế hoạt động trang TMĐT', '', title: '' %></li>
                            <li><%= link_to 'Các điều khoản, điều kiện', '', title: '' %></li>
                            <li><%= link_to 'Câu hỏi thường gặp', erp_hkstore.faqs_path, title: '' %></li>
                        </ul>
                    </div>
                </div>                            
            </div>
        </div>
        <div class="middle-content text-justify">
            <div class="des">
                <p>
                    Nhân dịp 10 năm thành lập, <strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang (Hoang Khang Incotech)</strong> xin được bày tỏ lòng cảm ơn sâu sắc nhất đến Quý khách hàng, Quý đối tác đã luôn tin tưởng hợp tác và sử dụng sản phẩm, dịch vụ của công ty chúng tôi.
                </p>
                <h5><strong>GIỚI THIỆU</strong></h5>
                <p>                    
                    Hoang Khang Incotech tiền thân là một của hàng tin học nhỏ lẻ được khai trương vào tháng 04 năm 2007 tại Thành Phố Hồ Chí Minh. Sau hơn một năm hoạt động, nhận được sự tín nhiệm và cổ vũ từ phía khách hàng và đối tác, vào ngày 06 tháng 11 năm 2008 cửa hàng tin học đã phát triển thành một công ty chuyên về lĩnh Công Nghệ Thông Tin và Truyền Thông.<br>                    
                </p>
                <p class="footer-about-us">
                    <i>"Dấu ấn thương hiệu <strong>Hoang Khang Incotech</strong> trên thị trường hiện nay là một công ty tư vấn, cung cấp giải pháp Công Nghệ Thông Tin và Truyền Thông có bề dày kinh nghiệm, chất lượng dịch vụ sau bán hàng luôn tuân thủ cảm kết."</i>
                </p>                
            </div>
            <div class="category">
                <p>
                    <b>TẤT CẢ CHUYÊN MỤC:</b>
                    <%= link_to 'Sản phẩm HP', '', title: '' %>
                    <%= link_to 'Máy Vi Tính', '', title: '' %>
                    <%= link_to 'Màn Hình Máy Tính', '', title: '' %>
                    <%= link_to 'Kỹ Thuật Số - Viễn Thông', '', title: '' %>
                    <%= link_to 'Sản Phẩm Văn Phòng', '', title: '' %>
                    <%= link_to 'Thiết Bị Mạng', '', title: '' %>
                    <%= link_to 'Thiết Bị An Ninh', '', title: '' %>
                    <%= link_to 'Thiết Bị Gia Dụng', '', title: '' %>
                    <%= link_to 'Linh Kiện - Phụ Kiện', '', title: '' %>
                </p>
                <% (0..6).each do |category| %>
                <p>
                    <b>MÁY VI TÍNH:</b>
                    <%= link_to 'Máy Tính Bảng', '', title: '' %>
                    <%= link_to 'Microsoft Surface', '', title: '' %>
                    <%= link_to 'Laptop MSI', '', title: '' %>
                    <%= link_to 'Laptop HP', '', title: '' %>
                    <%= link_to 'Laptop Dell', '', title: '' %>
                    <%= link_to 'Laptop Asus', '', title: '' %>
                    <%= link_to 'Laptop Apple', '', title: '' %>
                    <%= link_to 'Laptop Toshiba', '', title: '' %>
                    <%= link_to 'Laptop Acer', '', title: '' %>
                    <%= link_to 'PC HP', '', title: '' %>
                    <%= link_to 'PC Dell', '', title: '' %>
                    <%= link_to 'AIO HP', '', title: '' %>
                    <%= link_to 'AIO Dell', '', title: '' %>
                    <%= link_to 'AIO Lenovo', '', title: '' %>
                    <%= link_to 'Server HP', '', title: '' %>
                    <%= link_to 'Server Dell', '', title: '' %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>