<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12 banners image-livechat">
            <div class="livechat">
                <a href="">
                    <img class="img-payment lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="" data-src="/hkstore/img/files/f2-livechat.png" />
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12 image-social">
            <div class="socials-wraps" style="background: url('/hkstore/img/files/f2-bg-social_530x100.png') no-repeat;">
                <ul>
                    <li class="facebook">
                        <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, '', class: '_blank', title: '', target: '_blank' %>
                    </li>
                    <li class="twitter">
                        <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, '', class: '_blank', title: '', target: '_blank' %>
                    </li>
                    <li class="google_plus">
                        <%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, '', class: '_blank', title: '', target: '_blank' %>
                    </li>
                    <li class="instagram">
                        <%= link_to '<i class="fa fa-instagram"></i>'.html_safe, '', class: '_blank', title: '', target: '_blank' %>
                    </li>
                    <li class="pinterest">
                        <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, '', class: '_blank', title: '', target: '_blank' %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 banners d-none d-lg-block">
            <div class="fbanner">
                <a href="">
                    <img class="img-payment lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" alt="" data-src="/hkstore/img/files/f2-banner.png" />
                </a>
            </div>
        </div>
    </div>
</div>