<footer class="footer-container typefooter-2">
    <div class="footer-main desc-collapse showdown" id="collapse-footer">
        <div class="so-page-builder">
            <div class="container-fluid page-builder-ltr">
                <div class="row row_2m07  row-top  row-color ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_4b6k  col-style">
                        <div class="block-policy container">
                            <ul>
                                <li class="item-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a href="" class="item-inner">
                                        <div class="content">
                                            <b>Giao Hàng Miễn Phí</b>
                                            <span>Hỗ trợ giao hàng miễn phí tại khu vực nội thành TP. Hồ Chí Minh</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item-3 col-lg-4 col-md-4 hidden-sm hidden-xs">
                                    <a href="" class="item-inner">
                                        <div class="content">
                                            <b>Thanh Toán Tận Nơi</b>
                                            <span>Chấp nhận hình thức thu tiền mặt tận nơi trong khu vực TP. Hồ Chí Minh</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a href="" class="item-inner">
                                        <div class="content">
                                            <b>Đội Ngũ Hỗ trợ</b>
                                            <span>Kiểm tra tồn kho, tư vấn & báo giá sản phẩm cho khách hàng</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container page-builder-ltr">
                <div class="row row_560y  footer-middle ">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col_er0d  col-style">
                        <div class="row row_ytbk  row-style ">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 col_84ww col-style">
                                <div class="block-infos module">
                                    <h3 class="modtitle">Thông Tin Liên Hệ</h3>
                                    <div class="block-footer-content">
                                        <h4><strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang</strong></h4>
                                        <div class="hotline">
                                            <strong>MST: </strong><%= link_to '0 3 0 6 1 4 6 7 3 6', '', title: '' %>
                                        </div>
                                        <div class="hotline">
                                            <strong>Địa Chỉ: </strong><%= link_to 'Số 188 Đường Số 1, Phường 16, Quận Gò Vấp, Hồ Chí Minh', '', title: '' %>
                                        </div>
                                        <div class="hotline">
                                            <strong>Điện thoại: </strong><%= link_to '(028) 3984 7690', '', title: '' %>
                                        </div>
                                        <div class="hotline">
                                            <strong>Hotline: </strong><%= link_to '(028) 2212 9454', '', title: '' %>
                                        </div>
                                        <div class="hotline">
                                            <strong>Email: </strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %>
                                        </div>
                                        <div class="hotline">
                                            <strong>Ngày làm việc: </strong>Thứ 2 ~ Thứ 7
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 col_pved  col-style">
                        <div class="row row_n9lv  row-style ">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col_njm1 col-style">
                                <div class="box-information box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">Dành Cho Khách Hàng</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                <li><%= link_to 'Giới thiệu công ty', erp_hkstore.about_us_path, title: 'Giới thiệu công ty' %></li>
                                                <li><%= link_to 'Liên hệ công ty', '', title: '' %></li>
                                                <li><%= link_to 'Tin tức công nghệ', '', title: '' %></li>
                                                <li><%= link_to 'Yêu cầu báo giá', '', title: '' %></li>
                                                <li><%= link_to 'Sản phẩm theo hãng', '', title: '' %></li>                                                
                                                <li><%= link_to 'Dịch vụ sửa chữa & bảo trì', '', title: '' %></li>
                                                <li><%= link_to 'Dịch vụ thi công hệ thống', '', title: '' %></li>
                                                <li><%= link_to 'Dịch vụ nâng cấp bảo hành', '', title: '' %></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col_slxc">
                                <div class="box-service box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">Dành Cho Khách Hàng</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                <li><%= link_to 'Câu hỏi thường gặp', '', title: '' %></li>
                                                <li><%= link_to 'Phương thức thanh toán', '', title: '' %></li>
                                                <li><%= link_to 'Hướng dẫn mua hàng', '', title: '' %></li>
                                                <li><%= link_to 'Cách thức giao nhận', '', title: '' %></li>
                                                <li><%= link_to 'Bảo vệ người mua', '', title: '' %></li>
                                                <li><%= link_to 'Chính sách đổi trả', '', title: '' %></li>
                                                <li><%= link_to 'Chính sách bảo mật', '', title: '' %></li>
                                                <li><%= link_to 'Quy chế hoạt động trang TMĐT', '', title: '' %></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col_ye2q col-right">
                                <div class="row row_du36  row-style ">
                                    <div class="col-lg-12 col-md-7 col-sm-6 col-xs-12 col_ikvg col-style">
                                        <div class="module newsletter-footer">
                                            <div class="newsletter" style="width:100%;">
                                                <div class="title-block">
                                                    <div class="page-heading font-title">Liên Kết Trang</div>
                                                </div>
                                                <div class="block_content">
                                                    <div class="fb-page" data-href="https://www.facebook.com/TimHangCongNghe/" data-small-header="true" data-hide-cover="false" data-show-facepile="false" data-hide-cta="true"></div>
                                                </div>
                                                <div class="block_content">
                                                    <%= link_to image_tag('/hoangkhang/images/dot.gif', data: {sizes: 'auto', src: '/hoangkhang/images/logo-timhangcongnghe.svg'}, alt: 'Website thương mại điện tử Tìm Hàng Công Nghệ', class: 'lazyload logo-timhangcongnghe'),
                                                                'http://timhangcongnghe.com/', title: 'Website thương mại điện tử Tìm Hàng Công Nghệ', target: '_blank' %>
                                                </div>
                                                <!--/.modcontent-->
                                            </div>
                                        </div>
                                        <div class="module socials">
                                            <ul>
                                                <li class="facebook">
                                                    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, '', title: '', target: '_blank' %>
                                                </li>
                                                <li class="youtube">
                                                    <%= link_to '<i class="fa fa-youtube"></i>'.html_safe, '', title: '', target: '_blank' %>
                                                </li>
                                                <li class="skype">
                                                    <%= link_to '<i class="fa fa-skype"></i>'.html_safe, '', title: '', target: '_blank' %>
                                                </li>
                                                <li class="expeditedssl">
                                                    <%= link_to '<i class="fa fa-expeditedssl"></i>'.html_safe, '', title: '', target: '_blank' %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-toggle hidden-lg hidden-md">
        <a class="showmore" data-toggle="collapse" href="javascript:void(0);" aria-expanded="false" aria-controls="collapse-footer">
            <span class="toggle-more">Hiển thị thông tin <i class="fa fa-angle-down"></i></span>
            <span class="toggle-less">Ẩn thông tin <i class="fa fa-angle-up"></i></span>
        </a>
    </div>
    <div class="footer-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 copyright-w">
                    <div class="copyright">
                        &copy; Copyright 2008 ~ 2018 <%= link_to 'Hoang Khang Incotech', erp_hkstore.root_path, title: '', target: '_blank' %>. All Rights Reserved.
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 payment-w">
                    <%= image_tag '/hoangkhang/images/payment.png', alt: '' %>
                </div>
            </div>
        </div>
    </div>
</footer>