<div id="shopify-section-ss-tools" class="shopify-section">
    <script src="/hkstore/js/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/hkstore/js/ss_tools.js" type="text/javascript"></script>
    <div id="so-groups" class="right so-groups-sticky hidden-md hidden-sm hidden-xs" style="top: 130px">
        <%= render "erp/hkstore/frontend/modules/right_tools/list" %>
        <div class="popup popup-categories popup-hidden" id="popup-categories">
            <%= render "erp/hkstore/frontend/modules/right_tools/categories" %>
        </div>
        <div class="popup popup-mycart popup-hidden" id="popup-mycart">
            <%= render "erp/hkstore/frontend/modules/right_tools/my_cart" %>
        </div>
        <div class="popup popup-myaccount popup-hidden" id="popup-myaccount">
            <%= render "erp/hkstore/frontend/modules/right_tools/my_account" %>
        </div>
        <div class="popup popup-recent popup-hidden" id="popup-recent">
            <%= render "erp/hkstore/frontend/modules/right_tools/recent" %>
        </div>
    </div>
</div>