<div id="shopify-section-1525859554530" class="shopify-section home-section">
    <div class="widget-deals-carousel owl-style1">
        <div class="container">
            <div class="wrap-product">
                <div class="widget-head">
                    <div class="home-title">
                        <h2>Giảm Giá Hàng Ngày</h2>
                    </div>
                    <div class="tabs-menu item-sub-cat">
                        <span class="tabs-menu_btn d-lg-none"><i class="fa fa-bars"></i></span>
                        <ul class="item-sub-cat tabs-menu_title tabs-title">
                            <li><%= link_to 'Máy Tính Xách Tay', '', title: '' %></li>
                            <li><%= link_to 'Máy Tính Để Bàn', '', title: '' %></li>
                            <li><%= link_to 'Màn Hình Máy Tính', '', title: '' %></li>
                        </ul>
                    </div>
                </div>
                <div class="products-listing grid">
                    <div class="product-layout block-content">
                        <div class="ss-carousel ss-owl">
                            <div class="owl-carousel" data-dots="false" data-nav="true" data-margin="5" data-autoplay="false" data-autospeed="10000" data-speed="300" data-column1="6" data-column2="4" data-column3="3" data-column4="2" data-column5="2">
                                <% (0..8).each_with_index do |product, index| %>
                                    <div class="item">
                                        <div class="product-item" data-id="product-130549838655<%= index %>">
                                            <div class="product-item-container  ">
                                                <div class="row">
                                                    <div class="left-block col-12">
                                                        <div class="product-image-container product-image">
                                                            <a class="grid-view-item__link image-ajax" href="" title="">
                                                                <img class="img-responsive lazyload" data-sizes="auto" src="/hkstore/img/icon-loadings.svg" data-src="/hkstore/img/productx500.jpg" alt="">
                                                            </a>
                                                            <span class="label-product label-sale">
                                                                <span class="hidden">Sale</span> -4%
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="right-block col-12">                                                        
                                                        <div class="caption">
                                                            <div class="custom-reviews">
                                                                <span class="shopify-product-reviews-badge" data-id="130549838655<%= index %>"></span>
                                                            </div>
                                                            <h4 class="title-product text-truncate">
                                                                <%= link_to 'Laptop Lenovo Thinkpad X260', '', title: '', class: 'product-name' %>
                                                            </h4>
                                                            <div class="price">
                                                                <!-- snippet/product-price.liquid -->
                                                                <span class="visually-hidden">Regular price</span>
                                                                <span class="price-new"><span class='money'>10,000,000đ</span></span>
                                                                <span class="price-old"><span class='money'>12,000,000đ</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="countdown_tabs">
                                                            <div class="countdown_inner">
                                                                <div id="130549838655<%= index %>" class="countdown1"></div>
                                                            </div>
                                                        </div>
                                                        <script>
                                                            $(document).ready(function() {
                                                                $("#130549838655<%= index %>").countdown('2018/12/31', function(event) {
                                                                    $(this).html(event.strftime('<div class="deals-time day"><div class="num-time">%D</div></div> <div class="deals-time hour"><div class="num-time">%H</div></div> <div class="deals-time minute"><div class="num-time">%M</div></div> <div class="deals-time second"><div class="num-time">%S</div></div>'));
                                                                });
                                                            })
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>