<div class="main-content" id="MainContent">
    <!-- BEGIN content_for_index -->
    <%= render "erp/hkstore/frontend/modules/home/slider" %>
    <%= render "erp/hkstore/frontend/modules/home/hot_categories" %>
    <%= render "erp/hkstore/frontend/modules/home/daily_deals" %>
    <%= render "erp/hkstore/frontend/modules/home/banner_01" %>
    <%= render "erp/hkstore/frontend/modules/home/categories" %>
    <%= render "erp/hkstore/frontend/modules/home/brands" %>
    <!-- END content_for_index -->
</div>