<div id="content" class="">
    <div class="so-page-builder">
        <div class="container-fluid page-builder-ltr">
            <div class="row row_zcor  box-cates ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_2b06  col-style">
                    <div class="custom-categories">
                        <ul class="row">
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="item-inner">
                                    <div class="cate-left">
                                        <h4>Máy tính xách tay</h4>
                                        <p>Mạnh mẽ hơn - Đẳng cấp hơn</p>
                                        <%= link_to 'Xem chi tiết', '', title: '' %>
                                    </div>
                                    <div class="cate-right">
                                        <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/banners/hot-category.jpg'}, alt: '', class: 'lazyload'),
                                                    '', title: '' %>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="item-inner">
                                    <div class="cate-left">
                                        <h4>Máy tính xách tay</h4>
                                        <p>Mạnh mẽ hơn - Đẳng cấp hơn</p>
                                        <%= link_to 'Xem chi tiết', '', title: '' %>
                                    </div>
                                    <div class="cate-right">
                                        <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/banners/hot-category.jpg'}, alt: '', class: 'lazyload'),
                                                    '', title: '' %>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="item-inner">
                                    <div class="cate-left">
                                        <h4>Máy tính xách tay</h4>
                                        <p>Mạnh mẽ hơn - Đẳng cấp hơn</p>
                                        <%= link_to 'Xem chi tiết', '', title: '' %>
                                    </div>
                                    <div class="cate-right">
                                        <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/banners/hot-category.jpg'}, alt: '', class: 'lazyload'),
                                                    '', title: '' %>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="item-inner">
                                    <div class="cate-left">
                                        <h4>Máy tính xách tay</h4>
                                        <p>Mạnh mẽ hơn - Đẳng cấp hơn</p>
                                        <%= link_to 'Xem chi tiết', '', title: '' %>
                                    </div>
                                    <div class="cate-right">
                                        <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/banners/hot-category.jpg'}, alt: '', class: 'lazyload'),
                                                    '', title: '' %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container page-builder-ltr">
            <div class="row row_5xp3  ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_ykyd  col-style">
                    <!-- default Grid  -->
                    <div class="module so-extraslider-ltr extra-layout1">
                        <h3 class="modtitle">
                            <span>Sản Phẩm Bán Chạy Nhất</span>
                        </h3>
                        <div class="form-group">You have to make it through the jungle to make it to paradise, that’s the key</div>
                        <div class="modcontent">
                            <div id="so_extra_slider_bestseller" class="so-extraslider buttom-type1 preset00-4 preset01-4 preset02-3 preset03-2 preset04-1 button-type1">
                                <!-- Begin extraslider-inner -->
                                <div class="extraslider-inner products-list " data-effect="none">                                                
                                    <div class="item ">
                                        <% count = 10 %>
                                        <% (0..9).each_with_index do |product, index| %>
                                        <div class="product-layout product-grid style1 ">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container second_img ">
                                                        <a href="<%= erp_hkstore.product_detail_path %>" target="_self" title="">
                                                            <%= image_tag '/hoangkhang/images/dot.gif', data: {sizes: 'auto', src: '/hoangkhang/images/products/1-270x270.jpg'}, alt: '', class: 'img-1 lazyload' %>
                                                            <%= image_tag '/hoangkhang/images/dot.gif', data: {sizes: 'auto', src: '/hoangkhang/images/products/1-270x270.jpg'}, alt: '', class: 'img-2 lazyload' %>
                                                        </a>
                                                    </div>
                                                    <div class="box-label">
                                                        <span class="label-product label-sale">-23%</span>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="rating">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    </div>
                                                    <h4>
                                                        <%= link_to 'Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)', erp_hkstore.product_detail_path, title: 'Màn Hình HP S240uj 23.8-Inch 2K IPS (T7B66AA)', target: '_self' %>
                                                    </h4>
                                                    <div class="price">
                                                        <span class="price-new">4,800,000 VNĐ</span>
                                                        <span class="price-old">5,000,000 VNĐ</span>
                                                    </div>
                                                    <div class="button-group cartinfo--static">
                                                        <a class="btn-button" title="" >
                                                            <i class="pe-7s-link"></i><span>Add to Cart</span>
                                                        </a>
                                                        <a class="btn-button" title="">
                                                            <i class="pe-7s-like"></i><span>Add to Wish List</span>
                                                        </a>
                                                        <a class="btn-button" title="">
                                                            <i class="pe-7s-repeat"></i><span>Compare this Product</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End item-wrap-inner -->
                                        </div>
                                        <!-- End item-wrap -->
                                        <%= '</div><div class="item ">'.html_safe if index%2 == 1 && index+1 != count %>
                                        <% end %>
                                    </div>                                            
                                </div>
                                <!--End extraslider-inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid page-builder-ltr">
            <div class="row row_o30m  row-style  row-image ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_zatg  col-style">
                    <div class="module html-deals container ">
                        <h2> </h2>
                        <div class="title-deals">Giảm giá laptop - Ưu đãi cuối năm</div>
                        <h3>SCHOOL COME BACK 11/2018</h3>
                        <div class="so_content_countdown" id="main_countdown">
                            <div class="so_countdown">
                                <span class="element_container">
                                    <span class="days time_left">15</span>
                                    <span class="time_description">Ngày</span>
                                </span>
                                <span class="element_container">
                                    <span class="hours time_left">13</span>
                                    <span class="time_description">Giờ</span>
                                </span>
                                <span class="element_container">
                                    <span class="minutes time_left">50</span>
                                    <span class="time_description">Phút</span>
                                </span>
                                <span class="element_container">
                                    <span class="seconds time_left">40</span>
                                    <span class="time_description">Giây</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container page-builder-ltr">
            <div class="row row_e24e  row-style ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_jij0  col-style">
                    <div class="slider-brands module">                                
                        <div class="contentslider modcontent" data-rtl="no" data-loop="yes" data-autoplay="yes" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="8" data-items_column1="5" data-items_column2="4" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
                            <% (0..4).each do |brand| %>    
                                <div class="item">
                                    <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/brand-logo-01.png'}, alt: '', class: 'lazyload'), '', title: '' %>
                                </div>
                                <div class="item">
                                    <%= link_to image_tag('/hoangkhang/images/loading.svg', data: {sizes: 'auto', src: '/hoangkhang/images/brand-logo-02.png'}, alt: '', class: 'lazyload'), '', title: '' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render 'erp/hkstore/frontend/modules/tools' %>
</div>