<!DOCTYPE html>
<html dir="ltr" lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang Chủ - Hoàng Khang Incotech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <%= stylesheet_link_tag '/hoangkhang/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/hoangkhang/css/font-awesome.min.css' %>    
    <%= stylesheet_link_tag '/hoangkhang/css/main-style.css' %>
    <%= stylesheet_link_tag '/hoangkhang/css/custom.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' %>
    
    <%= javascript_include_tag '/hoangkhang/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/hoangkhang/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/hoangkhang/js/libs.js' %>
    <%= javascript_include_tag '/hoangkhang/js/so.system.js' %>
    <%= javascript_include_tag '/hoangkhang/js/jquery.sticky-kit.min.js' %>
    <%= javascript_include_tag '/hoangkhang/js/lazysizes.min.js' %>
    <%= javascript_include_tag '/hoangkhang/js/so.custom.js' %>
    <%= javascript_include_tag '/hoangkhang/js/common.js' %>
    <%= javascript_include_tag '/hoangkhang/js/shortcodes.js' %>
    <%= javascript_include_tag '/hoangkhang/js/jquery.fancybox.js' %>
    <%= javascript_include_tag '/hoangkhang/js/script-price.js' %>
    <%= javascript_include_tag '/hoangkhang/js/owl.carousel.js' %>
    <%= javascript_include_tag '/hoangkhang/js/script-content.js' %>
    <%= javascript_include_tag '/hoangkhang/js/section.js' %>
    <%= javascript_include_tag '/hoangkhang/js/modernizr.video.js' %>
    <%= javascript_include_tag '/hoangkhang/js/swfobject.js' %>
    <%= javascript_include_tag '/hoangkhang/js/video_background.js' %>
    <%= javascript_include_tag '/hoangkhang/js/jquery.cookie.js' %>
    <%= javascript_include_tag '/hoangkhang/js/so_megamenu.js' %>
    <%= javascript_include_tag '/hoangkhang/js/chosen.jquery.js' %>
    <%= javascript_include_tag '/hoangkhang/js/script-tools.js' %>
    <% if params[:controller] == "erp/hkstore/frontend/home" && params[:action] == "index" %>
        <%= javascript_include_tag '/hoangkhang/js/home-page.js' %>
    <% end %>
    
    <%= favicon_link_tag '/hoangkhang/images/favicon.png', rel: 'icon' %>    
</head>

<body class="<%= @body_class %>">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1934740650169239&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <div id="wrapper" class="wrapper-full banners-effect-3">
        <%= render 'erp/hkstore/frontend/modules/loader' %>
        
        <!-- Header Start -->
        <%= render 'erp/hkstore/frontend/modules/header' %>
        <!-- Header End -->        
        
        <%= yield %>
            
        <%= render 'erp/hkstore/frontend/modules/footer' %>
    </div>
    
    <% if params[:controller] == "erp/hkstore/frontend/product" && params[:action] == "listing" %>
        <%= javascript_include_tag '/hoangkhang/js/category-page.js' %>
    <% end %>
    
    <% if params[:controller] == "erp/hkstore/frontend/product" && params[:action] == "detail" %>
        <%= javascript_include_tag '/hoangkhang/js/product-detail.js' %>
    <% end %>
</body>

</html>