<!doctype html>
<!--[if IE 9]> 
<html class="ie9 no-js" lang="en">
  <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="vi">
<!--<![endif]-->

<head>
    <!-- Basic page -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=0">
    <meta name="theme-color" content="#7796a8">
    <link rel="canonical" href="http://192.168.183.128:3000/">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/hkstore/img/favicon.png" type="image/x-icon" />

    <!-- Title and description -->
    <title>
        Trang Chủ | Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Script -->
    <%= javascript_include_tag '/hkstore/js/jquery.min.js' %>
    <%= javascript_include_tag '/hkstore/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/hkstore/js/slick.min.js' %>
    <%= javascript_include_tag '/hkstore/js/ss_custom.js' %>
    <%= javascript_include_tag '/hkstore/js/jquery-cookie.min.js' %>
    <%= javascript_include_tag '/hkstore/js/api.jquery.js' %>
    <%= javascript_include_tag '/hkstore/js/libs.js' %>
    <%= javascript_include_tag '/hkstore/js/wish-list.js' %>
    <%= javascript_include_tag '/hkstore/js/owl.carousel.min.js' %>
    <%= javascript_include_tag '/hkstore/js/option_selection.js' %>
    <%= javascript_include_tag '/hkstore/js/sticky-kit.min.js' %>

    <%= stylesheet_link_tag '/hkstore/font-awesome/css/font-awesome-5.0.3.css' %>
    <%= stylesheet_link_tag '/hkstore/font-awesome/css/font-awesome.min.css' %>
    
    <%= stylesheet_link_tag '/hkstore/css/slick.css' %>    
    <%= stylesheet_link_tag '/hkstore/css/theme-config.scss.css' %>
    <%= stylesheet_link_tag '/hkstore/css/theme-style.scss.css' %>
    <%= stylesheet_link_tag '/hkstore/css/theme-style1.scss.css' %>
    <%= stylesheet_link_tag '/hkstore/css/theme-sections.scss.css' %>
    <%= stylesheet_link_tag '/hkstore/css/theme-responsive.scss.css' %>
    <%= stylesheet_link_tag '/hkstore/css/animate.css' %>
    <%= stylesheet_link_tag '/hkstore/css/owl.carousel.min.css' %>
    <%= stylesheet_link_tag '/hkstore/css/jquery.fancybox.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    
    <meta property="og:site_name" content="Website Thương Mại Điện Tử Hoàng Khang Incotech">
    <meta property="og:url" content="https://http://192.168.183.128:3000/">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">    
    
    <%= javascript_include_tag '/hkstore/js/features.js' %>
    <%= javascript_include_tag '/hkstore/js/preview_bar_injector.js' %> 
    <script id="sections-script" data-sections="home-slider,home-product-tabs,ss-tools" src="/hkstore/js/scripts.js"></script>
    
    <%= stylesheet_link_tag '/hkstore/css/styles.css' %>
    <%= stylesheet_link_tag '/hkstore/css/custom.css' %>
</head>

<body class="<%= @body_class if @body_class.present? %>">
    <div id="wrapper" class="page-wrapper wrapper-full effect_10">
        <!--   Loading Site -->
        <div id="loadingSite">
            <div class="cssload-loader">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
        
        <div id="shopify-section-header" class="shopify-section">        
            <%= render "erp/hkstore/frontend/modules/header" %>
        </div>
        
        <div class="page-container" id="PageContainer">
            <%= yield %>
            
            <div id="shopify-section-footer" class="shopify-section">
                <%= render "erp/hkstore/frontend/modules/footer" %>
            </div>
            
            <%= render "erp/hkstore/frontend/modules/right_tools" %>                                   
        </div>
        
        <%= render "erp/hkstore/frontend/modules/add_cart_popup" %>            
    </div>
</body>

</html>